@model IEnumerable<Goleak.Infra.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Fb
        </th>
        <th>
            Name
        </th>
        <th>
            PicUrl
        </th>
        <th>
            Friends
        </th>
        <th>
            LeaksWrote
        </th>
        <th>
            Leaks
        </th>
        <th>
            Email
        </th>
        <th>
            Password
        </th>
        <th>
            CreatedOn
        </th>
        <th>
            ModifiedOn
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Fb
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@item.PicUrl
        </td>
        <td>
			@(item.Friends == null ? "None" : item.Friends.Count.ToString())
        </td>
        <td>
			@(item.LeaksWrote == null ? "None" : item.LeaksWrote.Count.ToString())
        </td>
        <td>
			@(item.Leaks == null ? "None" : item.Leaks.Count.ToString())
        </td>
        <td>
			@item.Email
        </td>
        <td>
			@item.Password
        </td>
        <td>
			@String.Format("{0:g}", item.CreatedOn)
        </td>
        <td>
			@String.Format("{0:g}", item.ModifiedOn)
        </td>
    </tr>
}

</table>


